body {
    margin: 20px 30px 20px 10px;
    padding: 0;
    font: 76% Helvetica,Arial,sans-serif;
    background-color: #fff;
}

table thead th {
    background-color : #ddd;
}

table.explorer {
    border : none;
    border-spacing: 1px;
}

table.explorer .develop,
table.explorer .error {
    background-color : #fff;
    width : 16px;
}

table.explorer .develop a {
    border : none;
    text-decoration : none;
    border : none;
    width : 16px;
    height : 16px;
    display : block;
    background: transparent url(../images/toggle_plus.gif) center center;
}

table.explorer .develop a.hidden {
    background: transparent url(../images/toggle_minus.gif) center center;
}


table.explorer tbody .develop {
    cursor:pointer;
}


table.explorer tr.hidden {
    display : none;
}

table.explorer .name {
    width : 340px;
    text-align :left;
}

table.explorer .size {
    width : 60px;
    text-align : right;
}

table.explorer .date_modified {
    width : 150px;
    text-align :right;
}

table td {
    padding:2px;    
}

table tr.even {
    background-color : #f9f9f9;
}
table tr.odd {
    background-color : #f0f0f0;
}
a {
    text-decoration: none;
    color: #000;
}
a:hover {
    text-decoration: underline;
    color: #000;
}
img {
    border: none;
    vertical-align: middle;
}
#path {
    margin: 0 0 20px 22px;
    padding: 5px 155px 5px 5px;
    border: solid 1px #aaa;
    background-color: #e3e5ed;
    background-image: url(${path_images}$/bblogo.gif);
    background-repeat: no-repeat;
    background-position: right;
}
#info {
    margin: 0 0 20px 22px;
    padding: 5px 25px;
    border: solid 1px #aaa;
    background-color: #ffffe1;
    background-image: url(${path_images}$/info.gif);
    background-repeat: no-repeat;
    background-position: 4px 4px;
}
#error {
    margin: 0 0 20px 22px;
    padding: 5px 25px;
    border: solid 1px #aaa;
    background-color: #ffffe1;
    background-image: url(${path_images}$/error.gif);
    background-repeat: no-repeat;
    background-position: 4px 4px;
}
tbody.hidden {
    display: none;
    visibility: hidden;
}
tbody.visible {
    display:block;
    visibility: visible;
}
img.chart {
    background-color: #eef;
    border: solid 1px #99f;
}
td.border {
    padding: 5px;
    border: 2px solid #ddd;
    border-top: none;
}
#footer {
    margin: 50px 0 20px 22px;
    padding: 5px 25px;
    border-top: solid 1px #999;
    text-align: center;
    font-size: 0.8em;
}
